
.logo{
	width: 70px;
}

.logofooter{
	width: 150px;
}

.fab{
	color: #ff5493;
	margin: 20px;
}

.fas{
	color: #ff7064;
	margin: 20px;
	
}

.foto{
	width: 120px;
}

.menu a{
	color: #ffffff;
}

.menu a:hover{
	text-decoration: none;
	color: #000000;
}
